body {
  font-family: Arial, sans-serif;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.head {
  text-align: center;
}

.tabs button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
  font-size: 18px;
}

.tabs button:hover {
  background-color: #e6e6e6;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 1rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.product-card img {
  position: relative;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 0.5rem;
}
.product-badge {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #c00;
  color: #000;
  padding: 5px 10px;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.product-card h3 {
  margin: 20px 0;
  font-size: 1.3rem;
}

.product-card p {
  margin: 10px 0;
  font-size: 1rem;
}

.add-to-cart {
  padding: 10px 20px;
  border: none;
  border-radius: 0.5rem;
  background-color: #000;
  color: #fff;
  font-size: 18px;
}

.add-to-cart:hover {
  background-color: #c00;
}
